use NongSan

insert into Type( NameType)
values (N'Rau củ')
insert into Type( NameType)
values(N'Hoa Quả')
insert into Type(NameType)
values(N'Gạo')

insert into Account( Name, Address, Phone, AccountName, Password, isAdmin)
values(N'Admin',N'Hanoi', '0912345679',N'Admin','Admin123', 1)
insert into Account( Name, Address, Phone, AccountName, Password, isSaler, isCustommer)
values(N'Hoang Hien',N'Hanoi', '0912345679',N'HoangHien','hien123@', 1, 1)
insert into Account( Name, Address, Phone, AccountName, Password, isSaler, isCustommer)
values(N'Minh Chau',N'Hanoi', '0123459872', N'MinhChau','chau456@', 1,1)

insert into Product(Name, Price, TypeID, Origin, image, QuantitySold, QuantityStock, IdC)
values(N'Gạo Tám Xoan',50000,3,N'Hai Hau',
'https://namvanlong.com/assets/images/0/gao-tam-xoan-hai-hau-e7b24a10.jpg',
10,1000,2)
insert into Product(Name, Price, TypeID, Origin, image, QuantitySold, QuantityStock, IdC)
values(N'Gạo Tẻ',35500,3,N'Vinh Phuc',
'https://nghebep.com/wp-content/uploads/2018/08/gao-te-la-gi.jpg',
50, 2000,3)
insert into Product(Name, Price, TypeID, Origin, image, QuantitySold, QuantityStock, IdC)
values(N'Táo',25000, 2,N'Lao Cai','https://cafefcdn.com/thumb_w/650/2017/20170920172246-tao-tay-1506038695093.jpg',
5,100,5)

select * from Type
select * from Product
SELECT * FROM [Account]
select * from Orders
select * from TotalBill
SELECT DISTINCT A.ID, A.NameType
FROM [Type] AS A JOIN [Product] AS B ON A.ID = B.TypeID
WHERE B.IdC = 3

drop table Product
drop table Orders
drop table TotalBill
drop table Account
drop table Type
delete from Type where ID = 5
delete from Product where IdP=2
use NongSan
SELECT * when IdC = 2 FROM [Product] 
SELECT * FROM [Product] where IdC = 1;
DELETE FROM [Product] WHERE IdP = 8
UPDATE [Product] SET [Name]=N'Man hau', [Price]=17, [TypeId]=2, [Origin]=N'Ba Vi', [image]='https://traicaycaonghe.vn/wp-content/uploads/2021/04/manhau13.jpg', [QuantityStock]=100
                     WHERE IdP = 30;
UPDATE [Type] SET [NameType]=N'Hoa a'
WHERE ID = 6

INSERT INTO [TotalBill] ([IdC])
VALUES(1)

SELECT * FROM [Product] WHERE [QuantityStock] = 0

SELECT * FROM [Orders] WHERE IdC = 3
SELECT * FROM [TotalBill] WHERE IdC = 1
INSERT INTO [Orders] ([IdC],[IdTb],[IdP],[NameP],[PriceP],[Quantity])
VALUES( 3 ,2,7,N'Bắp cải',15,10)
UPDATE [Orders] SET [Quantity]= 90
WHERE IdO = 7

SELECT * FROM [TotalBill] WHERE IdC = 3 
AND OrderTime is not null

UPDATE [ToTalBill] SET [TotalMoney]= , [OrderTime] = 
WHERE IdTB = 6

DELETE FROM [Type] WHERE ID=5

update [Account] set [isAdmin]= 0
where IdC != 1
select * from Account
SELECT * FROM [Product] WHERE IdC = 3
delete from Account where IdC = 7