<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccountServlet</servlet-name>
        <servlet-class>Controller.CreateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>Controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductTypeServlet</servlet-name>
        <servlet-class>Controller.ProductTypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalerServlet</servlet-name>
        <servlet-class>Controller.SalerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductPageServlet</servlet-name>
        <servlet-class>Controller.DeleteProductPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductItemServlet</servlet-name>
        <servlet-class>Controller.DeleteProductItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProductServlet</servlet-name>
        <servlet-class>Controller.CreateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductPageServlet</servlet-name>
        <servlet-class>Controller.UpdateProductPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductItemServlet</servlet-name>
        <servlet-class>Controller.UpdateProductItemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccountServlet</servlet-name>
        <url-pattern>/CreateAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductTypeServlet</servlet-name>
        <url-pattern>/ProductTypeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalerServlet</servlet-name>
        <url-pattern>/SalerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductPageServlet</servlet-name>
        <url-pattern>/DeleteProductPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductItemServlet</servlet-name>
        <url-pattern>/DeleteProductItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProductServlet</servlet-name>
        <url-pattern>/CreateProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductPageServlet</servlet-name>
        <url-pattern>/UpdateProductPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductItemServlet</servlet-name>
        <url-pattern>/UpdateProductItemServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
